.navbar-header {
  background-color: var(--primary-color);
  padding: 5px;
  position: fixed;
  height: 10%;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  .images {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px;
  }
}
